body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #392a2b, #a60421);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 30px;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

.social-links a {
    text-decoration: none;
    background-color: white;
    color: #ff4d6d;
    padding: 12px;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.social-links a:hover {
    transform: scale(1.1);
    background-color: #ffe6ea;
}

button {
    padding: 15px 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: #a60421;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
    background-color: #ffe6ea;
}

@media (max-width: 768px) {

    body {
		margin: 0;
		padding: 20px;
		background: linear-gradient(135deg, #392a2b, #a60421););
		font-family: Arial, sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}

	.container {
		text-align: center;
		color: white;
		width: 100%;
		max-width: 400px;
	}

	h1 {
		margin-bottom: 30px;
		font-size: 1.8em;
	}

	.social-links {
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin-bottom: 30px;
	}

	.social-links a {
		text-decoration: none;
		background-color: white;
		color: #ff4d6d;
		padding: 15px;
		border-radius: 30px;
		font-weight: bold;
		transition: 0.3s;
		font-size: 1em;
	}

	.social-links a:hover {
		transform: scale(1.05);
		background-color: #ffe6ea;
	}

	button {
		width: 100%;
		padding: 15px;
		font-size: 1.1em;
		border: none;
		border-radius: 30px;
		background-color: white;
		color: #ff4d6d;
		cursor: pointer;
		font-weight: bold;
		transition: 0.3s;
	}

	button:hover {
		transform: scale(1.05);
		background-color: #ffe6ea;
	}
	
	#nextPage {
        width: 80%;         
        padding: 10px;
        font-size: 0.9em;
        margin: 0 auto;     
        display: block;
    }
}

@media (max-width: 400px) {

    h1 {
        font-size: 1.4em;
        margin-bottom: 20px;
    }

    .social-links a {
        padding: 14px;
        font-size: 0.95em;
    }

    #nextPage {
        width: 80%;          
        padding: 10px;
        font-size: 0.9em;
        margin: 0 auto;     
        display: block;
    }

}

